.feedback {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.client{
    /* background-color: rgb(226, 241, 241); */
}
.client img{
    /* width: 100%; */
}
@media screen and (max-width: 688px) {
    .feedback {
        margin: 0 20px;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}